* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
      }
  
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
  margin: 0;
  background-color: cornflowerblue;
}

.flexbox {
    align-items: center;
    height: 600px;
    width: 600px;
    padding: 3px;
    margin: 20px;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: baseline; */
    background-color: lightgrey;
    border: 5px solid black;
    flex-direction: column;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
  }

.box {
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border: 3px solid blue;
    height: 100px;
    width: 100px;
  }

.box3 {
  align-content: flex-end;
}

.box5 {
    text-align: right;
    align-content: center;
}

@media only screen and (min-width: 768px) {
.flexbox {
  flex-direction: row;
}
}